{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 col-md-3">
  <h2 class="text-center mb-4">
    <i class="bi bi-journal-plus me-2"></i> Novo Livro
  </h2>
  <div class = "text-center mb-4">
  <a href="{% url 'home' %}" class="btn btn-outline-dark btn-lg me-2">Home</a>
  <a href="{% url 'livros' %}" class="btn btn-outline-dark btn-lg me-2">Meus Livros</a>
  </div>
  <form method="post" class="p-4 shadow rounded bg-light">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-success">Salvar Livro</button>
    </div>
  </form>
</div>
{% endblock %}