{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 col-md-3">
  <div class="text-center mb-4">
   <h2>
      <i class="bi bi-pencil-square me-2"></i>
     Editar: <span class="fw-normal">{{ livro.titulo }}</span>
    </h2>
  </div>
  <form method="post" class="p-4 shadow rounded bg-light">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Salvar Alterações</button>
    <a href="{% url 'livros' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}