{% extends 'base.html' %}

{% block content %}
<div class="container text-center mt-5">
  <h2 class="mb-4"><i class="bi bi-book"></i> Minha Booklist</h2>

  <div class="mb-4">
    <a href="{% url 'livros' %}" class="btn btn-outline-dark btn-lg w-50 mb-3">Meus Livros</a><br>
    <a href="{% url 'cadastrar_livro' %}" class="btn btn-outline-dark btn-lg w-50">Cadastrar Livro</a>
  </div>


    <p class="mt-4 text-muted">
      Desenvolvido por Guilherme Araujo —
      <a href="https://github.com/Araujoo1/booklist" target="_blank">Ver no GitHub</a>
    </p>
</div>

{% endblock %}