body {
  background: linear-gradient(to right, #f8f9fa, #e0e0e0);
  font-family: 'Segoe UI', sans-serif;
}

.btn {
  transition: all 0.3s ease;
}

.btn {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.btn:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}



.input-longo {
  width: 400px;
}