body {
  background: linear-gradient(to right, #f8f9fa, #e0e0e0);
  font-family: 'Segoe UI', sans-serif;
}

.titulo-custom {
  color: #1b0679;
  font-size: 3rem;
}

.botao-meu {
  background-color: #17057c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.botao-meu:hover {
  background-color: #0f0594;
}



.botao-secundario {
  background-color: #561b9a;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  /*border: 1px solid rgb(21, 9, 138);*/
  cursor: pointer;
  text-decoration: none;
}
.botao-secundario:hover {
  background-color: #4a148c;
}

.input-longo {
  width: 400px;
}